<form class="border border-dark">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3"> Blaze Registration</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname">
                 </div>
        <div class="col">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div class="form-text"></div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="mobile" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="mobile" formControlName="email">
            <div class="form-text"></div>
        </div>
        <div class="col ps-3 mb-31">
            <div class="m-1">Gender</div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="m" id="male">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="f" id="female">
                <label class="form-check-label" for="female">Female</label></div>
                <div class="row">
                    <div class="col-6 offset-3">
                        <div class="d-grid">
                            <button type="submit" class="btm btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                </div>
        </div>
</form>